<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ETL Gobernación del Atlántico</title>
{% load static %}
<!-- Scripts JS -->

  <!--  <script src="{% static 'js/angular.min.js' %}"></script>  -->
  <!--  <script src="{% static 'js/angular-route.min.js' %}"></script> -->
  <!--  <script src="js/scripts.js"></script> -->
  <!--  <script src="{% static 'js/scripts2.js' %}"></script> -->
  <!--  <script src="{% static 'controllers/homeController.js' %}"></script> -->
  <!--  <script src="{% static 'controllers/munController.js' %}"></script -->
  <!--  <script src="{% static 'controllers/contentController.js' %}"></script> -->
    <script src="{% static 'js/jquery.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script> 
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
  <!--  <script async src="{% static 'js/wid.js' %}" charset="utf-8"></script> -->


	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet " >
   <!-- <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet "> --> 
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet ">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet "> 
    <link href="{% static 'css/main.css' %}" rel="stylesheet ">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet ">
    
    <!-- JQUERY -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
    <!-- JQUERY CDN -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

    <!-- DATATABLES LOCALLY -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}"/>
    <script src="{% static 'js/datatables.js' %}" type="text/javascript"></script>
    <!-- DATATABLES CDN -->
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> -->

    <!-- FONTAWESOME LOCALLY -->
    <script src="{% static 'js/fontawesome-all.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}"/>
    <!-- FONTAWESOME CDN -->
    <!-- <script src="https://use.fontawesome.com/0f7a7ad4b9.js"></script> -->

    <!-- NOTIFY.JS LOCALLY -->
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/notify.min.js' %}" type="text/javascript"></script> -->
    <!-- NOTIFY.JS CDN -->    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" type="text/javascript"></script> -->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">  
   <!--  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    -->
</head><!--/head-->

<body ng-cloak="" class="homepage" ng-app="docs">

        <header class="header">
          <div class="container">
            <a href="#"><img class="logoHeader" src="{% static 'img/logoheader.png' %}" alt="logo"></a>
          </div>
        </header>
          <nav class="navbar navbar-inverse navBarGob" role="banner">
            
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navBarGob">
                      {% if request.session.Logged %}
                        <li title="Inicio" ><a href="/options"><i class="fa fa-home fa-2x "></i></a></li>
                        <li title="Cargar desde Excel"><a href="/loadexcel"><i class="fa fa-upload fa-2x "></i></a></li>
                        <li title="Actualizar"><a href="/selectmodify"><i class="fa fa-sync-alt fa-2x "></i></a></li>
                        <li title="Eliminar"><a href="/selectdelete"><i class="fa fa-trash-alt fa-2x "></i></a></li>
                        <li title="Cargar desde Base de Datos"><a href="/databaseoptions"><i class="fa fa-database fa-2x "></i></a></li>
                        {% if request.session.admin %}

                        <li title="Crear Nuevo Usuario"><a href="/createusers"><i class="fa fa-user-plus fa-2x "></i></a></li>
                        <li title="Modificar Usuarios"><a href="/selectusers"><i class="fa fa-users fa-2x "></i></a></li>
                        {% endif %}
                        <li title="Cambiar Contraseña"><a href="/changepass"><i class="fa fa-user-secret fa-2x "></i></a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right"">
                      {% if request.session.Logged %}
                        <li><a href="#">{{ request.session.name }}</a></li>
                        <li title="Salir">
                        <a href="/logout"><i class="fa fa-sign-out-alt fa-2x"></i></a>
                        </li>
                      {% endif %}
                    </ul>
              </div>
            </div><!--/.container-->
        </nav><!--/nav-->
                        <!--
                        <li><a href="#/about-us">Quiénes Somos</a></li>
                        <li><a  class="dropdown-toggle" data-toggle="dropdown">Normatividad <i class="fa fa-angle-down"></i></a>
                    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                              <li><a href="#">Ruta de procesos</a></li>

                              <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Subdirecciones</a>
                                <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Etnias</a></li>
                                  <li><a href="#">Afros</a></li>
                                  <li><a href="#">LGBTI</a></li>
                                  <li><a href="#">Victimas</a></li>
                                </ul>
                              </li>

                              <li class="divider"></li>
                              <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Asuntos Comunales: JAC</a>
                                <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Politicas públicas</a></li>
                                    <li><a href="#">Resoluciones</a></li>
                                    <li><a href="#">Estatutos JAC</a></li>
                                  <li class="dropdown-submenu">
                                    <a href="#">Manuales</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Actas</a></li>
                                    	<li><a href="#">Formatos</a></li>
                                      <li><a href="#">Informes</a></li>
                                      <li><a href="#">Modelos</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                              <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Elecciones de JAC</a>
                                <ul id="list" class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Tarjetones</a></li>
                                  <li><a href="#">Postulaciónes</a></li>
                                  <li><a href="#">Postulación lista</a></li>
                                  <li><a href="#">Postulación plancha</a></li>
                                  <li><a href="#">Registro de votantes</a></li>
                                  <li><a href="#">Reporte inicial RIRE</a></li>
                                  <li><a href="#">Actas de escritinios</a></li>
                                  <li><a href="#">Acta final de elección</a></li>
                                </ul>
                              </li>
                              -->

                            <!--
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contenidos <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">JAC</a></li>
                                <li><a href="#">Certificados</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Comunicaciones</a></li>
                        <li><a href="#">PQRs</a></li>
                    </ul> -->
                

    </header><!--/header-->
  <div class="margenes">
    {% block content %}

    {% endblock %}
  </div>
   <div data-ng-view="" id="ng-view" class="">
   </div>

  <!-- <footer id="footer" class="midnight-blue"> -->
    <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 infoFooter">
                <p class="infoFooter"> © 1998-2015 Gobernación del Atlántico - Calle 40 Cra. 45 y 46 - Barranquilla, Colombia </br>
                  Teléfono (57+0*5)3307000 - Fax (57+0*5)3307444 - Línea Gratuita 018000425888 - Código DANE: 08-000 Código Postal 080003 </br>
                  NIT Dpto del Atlántico: 890102006-1 - <a href="http://http://www.atlantico.gov.co/index.php/condiciones-de-uso">Condiciones de Uso de la Información</a> - <a href="http://www.atlantico.gov.co/index.php/presentacion-56985">Quejas y Reclamos</a></br>
                  <a href="http://www.atlantico.gov.co/index.php/presentacion-56985">Horario de Atención</a> - <a href="http://www.atlantico.gov.co/index.php/directorio-general-50105">Contáctenos</a> - <a href="http://www.atlantico.gov.co/index.php/notificaciones-judiciales">Notificaciones Judiciales</a>
                </p>
            </div>
            <div class="col-sm-2">
                <ul class="pull-right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Comunicaciones</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Administración</a></li>
                </ul>
            </div>
          </div>
        </div>
    </footer><!--/#footer-->
    </body>
</html>
<!-- HANDLING ERROR, SUCCESS AND INFO MESSAGES IN ALL VIEWS -->
{% if messages %}
  {% for message in messages %}
    <script type="text/javascript">
    $.notify("\n{{ message }}\n\n",{ 
      className: "{{ message.tags }}", 
      globalPosition: 'top right',
      autoHide: 10000} 
      );
    </script>
  {% endfor %}
{% endif %}