{% extends 'etl/base.html' %}
{% block content %}
<div class='row iconcontainer2' align="center">

  <div class="divlink2 col-xs-6">
      <a href="/selectdatabase">
        <div class="iconlink2">
          <i class="fa fa-arrow-circle-up fa-8x"></i>
        </div>
        <div class="textlink2">
          Cargar desde Base de Datos
        </div>
      </a>
  </div>
  <div class="divlink2 col-xs-6">
      <a href="/selectETL" style="color:#000">
        <div class="iconlink2">
            <i class="fa fa-server fa-8x "></i>
        </div>
        <div class="textlink2">
          Gestionar Datos
        </div>
      </a>
  </div>
 </div>
{% endblock %}