{% extends 'etl/base.html' %}
{% block content %}

<h2 align='center'><b style='color:#000' >RESUMEN</b></h2>
<div style="text-align: center;">
	<div style = "display: inline-block; text-align: left;">
		<h2 ><p style='color:#a31111'><b style='color:#000'>Se edito la contraseña con éxito, Inicie sesión con su nueva contraseña</p></h2>		
	</div>
</div>
<br>
<div align='center'>
		<a href="/">
	      <button type='button' class="btn btn-default" style="background-color:#2E2E2E;color:#FFFFFF">Iniciar Sesión</button>
	    </a>

</div>
{% endblock %}