{% extends 'etl/base.html' %}

{% block content %}
<div style="text-align: center;">
<div style = "display: inline-block; text-align: left;">
	<p>
    <h2>Se ha enviado a su correo las intrucciones para configurar nuevamente su contraseña</h2>
  </p>
  <p>
    <h2>Si no recibe un email, por favor asegurese que ingresó una dirección de correo correcta y verifique su carpeta de correo SPAM </h2>
  </p>
  <br>
  </div>
  <div align="center">
  	<a href="/">
   		<button type='button' class="btn btn-default" align="center" style="background-color:#ba1414;color:#FFFFFF">Aceptar</button>
	</a>
  </div>
</div>
  
{% endblock %}