{% extends 'etl/base.html' %}
{% block content %}

{% if public == "Privado" %}
    <h2 align='center'><b style='color:#000' >INFORMACION CONJUNTO A PUBLICAR</b></h2>
{% else %}
    <h2 align='center'><b style='color:#000' >INFORMACION CONJUNTO A PRIVATIZAR</b></h2>
{% endif %}
<div style="text-align: center;">
	<div style = "display: inline-block; text-align: left;">
		<h2 ><p style='color:#a31111'><b style='color:#000'>Título: </b>{{title}}</p></h2>
		<h2 ><p style='color:#a31111'><b style='color:#000'>id del conjunto de datos: </b>{{dataset_id}}</p></h2>
        <h2 ><p style='color:#a31111'><b style='color:#000'>Creado: </b>{{ created|date:"d-m-Y" }}</p></h2>
        <h2 ><p style='color:#a31111'><b style='color:#000'>Modificado: </b>{{ modified|date:"d-m-Y" }}</p></h2>
        <h2 ><p style='color:#a31111'><b style='color:#000'>Visibilidad: </b>{{ public }}</p></h2>
        <h2 ><p style='color:#a31111'><b style='color:#000'>Visitas: </b>{{ visit }}</p></h2>

	</div>
</div>
<h2 align="center"><p style='color:#a31111'><b style='color:#000'>Vista Previa:</b></p></h2>
<br>
<div class="table-responsive" align="center" style="margin-left:10%; margin-right:10%;overflow-x:auto">
	{{table|safe}}
</div>
<form method='POST'>
	{% csrf_token %}
	<br>
	<div align='center'>
		<a href="/selectdata">
	      <button type='button' class="btn btn-default" style="background-color:#2E2E2E;color:#FFFFFF">Regresar</button>
	    </a>
		<button type="submit"  class="btn btn-default" style="background-color:#ba1414;color:#FFFFFF" > Cambiar Privacidad de los datos</button>
	
	</div>
<form>
<script type="text/javascript">

$(document).ready( function () {
    $('#my_table').DataTable({
    	"responsive": true,
        "pageLength": 15,
      /*Changing datatables language to spanish*/
         "language": {
         	"paginate": {
                "first":      "Primera",
                "last":       "Última",
                "next":       "Siguiente",
                "previous":   "Anterior"
                },
            "lengthMenu": "Mostrando _MENU_ Resultados por Página",
            "zeroRecords": "No existen registros con los datos de búsqueda",
            "info": "Mostrando Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "(Filtrado de _MAX_ registros totales)",
            "search":"Buscar:",
            "NaN":""
        },
        /*Setting Menu length*/
        "lengthMenu": [ [5, 15, 45, -1], [5, 15, 45, "Todos"] ]

    });
} );

</script>
{% endblock %}