{% extends 'etl/base.html' %}
{% block content %}

<div align='center'>
<h2>Seleccione la Vista que Utilizará</h2>
</div>
<div align='center'>
</div>
<br>
<div align=center>
	<div align="center" style="margin-left:10%; margin-right:10%;overflow-x:auto" >
    {{table|safe}}
	</div>
<!--    
<form method="post" enctype="multipart/form-data">   
{% csrf_token %}
 -->	
    <a href="/databaseoptions">
   		<button type='button' class="btn btn-default" style="background-color:#2E2E2E;color:#FFFFFF">Cancelar</button>
	</a>

	<!--
    <button type="submit" class="btn btn-default" style="background-color:#ba1414;color:#FFFFFF" >Seleccionar Usuario</button>
	-->

    <button id="Seleccionar" class="btn btn-default" style="background-color:#ba1414;color:#FFFFFF" >Seleccionar Vista</button>

</div>    


<script>
$(document).ready(function() {
	// Generate a DataTable Object 
    var table = $('#my_table').DataTable({
        "responsive": true,
        "pageLength": 15,
         /*Changing datatables language to spanish*/
         "language": {
            "paginate": {
                "first":      "Primera",
                "last":       "Última",
                "next":       "Siguiente",
                "previous":   "Anterior"
                },
            "lengthMenu": "Mostrando _MENU_ Resultados por Página",
            "zeroRecords": "No existen registros con los datos de búsqueda",
            "info": "Mostrando Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "(Filtrado de _MAX_ registros totales)",
            "search":"Buscar:"
        },
        /*Setting Menu length*/
        "lengthMenu": [ [5, 15, 45, -1], [5, 15, 45, "Todos"] ]
    });
    //Disable Seleccionar button
    document.getElementById("Seleccionar").disabled = true;	
    //Django URL
 	URL="selectusers"
 	//Row Selection function
    $('#my_table tbody').on( 'click', 'tr', function () 
    {
        if ( $(this).hasClass('selected') ) {
            //Not Row Selected
            $(this).removeClass('selected');
            //Disable Seleccionar button
            document.getElementById("Seleccionar").disabled = true;
        }
        else {
            table.$('tr.selected').removeClass('selected');
            // Row Selected
            $(this).addClass('selected');
            //Disable Seleccionar button
            document.getElementById("Seleccionar").disabled = false;
        }
    } );
 	//GET method, when Seleccionar button is clicked 
    $('#Seleccionar').click( function () 
    {	// User id
    	var celda = table.cell('.selected',':contains(Nombre)').data()
 		//alert(celda)
 		//Json data that will be senden to the server
 		var data={'celda':celda}
 		var URL ="selectdatabase";
 		//ajax GET method
 		$.ajax(
        {
	        method: 'GET',
	        url: '/selectdatabase',
	        data: {'celda': celda},
	        success: function (data) {
	             //this gets called when server returns an OK response
	             //alert("it worked!");
	             //Redirecting
	             window.location.href = '/metadataetl'

	        },
	        error: function (data) {
	             //alert("it didnt work");
	        }
    	});
    } );

} );
</script>

{% endblock %}